

*{
	margin: 0;
	padding: 0;
}

.clearFix::after{
	content: "";
	display: table;
	clear: both;
}

.wrap{
	min-height: 100%;
	position: relative;
	background-color: #fff;
	
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


html,
body{
	min-width: 320px;
	max-width: 768px;
	font-family: 'PT Sans', sans-serif;
	font-weight: 400;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	height: 100%;
	position: relative;
}

html{
	background-color: #f2f2f2;
}


.mainNavigation{
	display: none;
	
}

.mainNavigationShow{
	display: block;
}

.mainNavigationToggleBtn{
	position: absolute;
	top: 0;
	right: 0;
	border: none;
	width: 19.7%;
	height: 56px;
	box-sizing: border-box;
	background-color: transparent;
	outline: 0 none;
}


.mainNavigationToggleBtn .btnItem{
	margin: 1px;
	width: 30px;
	height: 4px;
	border-radius: 4px;
	background-color: #81b3d2;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -15px;
	margin-top: -2px;

}

.mainNavigationToggleBtn .btnItem:first-child{
	margin-top: -10px;
}
.mainNavigationToggleBtn .btnItem:nth-child(2){
	
}
.mainNavigationToggleBtn .btnItem:last-child{
	margin-top: 6px;
}


.mainNavigationToggleBtnHide .btnItem:first-child{
	transform: rotate(45deg);
	margin-top: -2px;
}
.mainNavigationToggleBtnHide .btnItem:nth-child(2){
	display: none;
}
.mainNavigationToggleBtnHide .btnItem:last-child{
	transform: rotate(-45deg);
	margin-top: -2px;
}

.mainNavigationToggleBtnHide .btnItem{
	background-color: #fff;
}


.flexContainer{
	display: flex;
	flex-direction: column;
}

 .flexContainer li:nth-child(2){
	
}

 
.mainNavigation ul{
	list-style: none;
}


.mainNavigation a{
	font-family: inherit;
	font-size: 18px;
	font-weight: 700;
	line-height: 40px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	display: block;
	width: 100%;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: #81b3d2;
	border-bottom: 1px solid #678fa8;
	border-top: 1px solid #9ac2db;
}

.mainNavigation li:last-child a{
	border-bottom: none;
}

.mainNavigation li:first-child a{
	border-top: none;
}



.mainHeader{
	
	position: relative;


}

.headerLogo {
	width: 100%;
	height: 56px;
	background-color: #fff;
	box-shadow:         0px -3px 2px 0px rgba(108, 150, 176, 1);
	
}

.headerLogo a{
	width: 138px;
	display: block;
	margin: 0 auto;
}


.intro{
	background: url("../img/whiteMobile320Up.svg") bottom,
	url("../img/photo-background@2x.jpg") 50% 100% no-repeat;
	 background-size: cover;

}

.indexLogo{
	box-sizing: border-box;
	width: 87.5%;
	margin: 0 auto;
	padding-top: 45px;
	padding-bottom: 50px;

}

.mainInfo{
	padding-top: 30px;
}

.mainInfo h2{
	text-align: center;
	padding-top: 30px;
}



.mainInfo h1{
	padding-top: 40px;
	font-family: inherit;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
}

.mainInfo p{
	padding-top: 28px;
	padding-bottom: 26px;
	font-family: inherit;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	text-align: center;
}




.reason{
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	background-color: #eeeeee;
}

.bigReason .reason{
	background-color: #fff;
	text-align: left;
	padding-left: 22%;
	padding-right: 15.625%;


	padding-top: 0;
	padding-bottom: 30px;

}


.bigReason .reason:first-child{
	background-color: #81b3d2;
	text-align: center;
	padding-left: 0;
	padding-right: 0;
	padding-top: 40px;
	padding-bottom: 40px;
	
}

.bigReason:first-child .reason:first-child{
	padding-top: 60px;
	background-image: url(../img/bg-triangle.svg);
	background-position: 50% top;
	background-repeat: no-repeat;
	background-size: 768px 36px;
}

.reason h2{
	font-size: 18px;
	line-height: 26px;
	padding-bottom: 15px;
	font-family: inherit;
}

.reason h3,
.reason p{
	font-size: 14px;
	line-height: 21px;
	padding-bottom: 15px;
}

.reasons > .reason{
	position: relative;
}

.reasons > .reason::after{
	content: "";
	width: 87.5%;
	height: 1px;
	background-color: #d6d6d6;
	position: absolute;
	bottom: 0;
	left: 6.25%;
}

.reasons > .reason:last-child::after{
	display: none;
}




.bigReason:first-child figure{
	padding-bottom: 40px;
}


.bigReason figure{
	margin: 0;
	padding: 0;
	font-size: 0;
	line-height: 0;

}

.bigReason img{
	width: 100%;
	min-height: auto;
}


.bigReason .reason:nth-child(n+2){
	position: relative;

}

.bigReason .reason:nth-child(n+2)::before{
	content: "";
	position: absolute;
	display: block;
	width: 40px;
	height: 40px;
	background-color: rgba(0,255,255,.7);
	right: : 0;
	top: 0;
	margin-left: -50px;
	margin-top: -11px;

}







.searchHotel{
	display: none;
	width: 87.5%;
	margin: 0 auto;
	padding-bottom: 50px;
	padding-top: 25px;
}

.searchHotelShow{
	display: block;
}


.mainInfo{
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
}

.searchHotel input,
.flexPersNumb button{
	border: none;
	height: 39px;
	background-color: #f2f2f2;
	width: 39px;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 23px;
}

.searchHotel label{
	padding-left: 15px;

}


.searchHotel > input{
	width: 100%;
	text-align: left;
}

.searchHotel label,
.searchHotel input,
.flexPersNumb button{
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;

}

.flexPersNumb{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}




.searchHotel>.btn{
	width: 100%;
	display: block;
	margin: 0 auto;
	font-family: inherit;
	font-size: 21px;
	line-height: 26px;
	border: none;
	padding-top: 15px;
	padding-bottom: 18px;
	background-color: #81b3d2;
	margin-top: 22px;

}




.mainInfo>.btn{
	padding-top: 30px;
	padding-bottom: 33px;
	display: block;
	text-decoration: none;
	color: #fff;
	background-color: #766357;
	font-size: 18px;
	line-height: 26px;
	text-align: center;
	width: 100%;
}




.map{
	margin: 0;
	padding: 0;
	border:0;
	display: block;
	background: #c9ddaa url("../img/bgMap.jpg") bottom;
	width: 100%;
	height: 590px;
	font-size: 0;
	line-height: 0;
}

.mainFooter{
	padding-top: 25px;
	padding-bottom: 25px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	width: 100%;
	
	background: rgba(253,253,253,0.9);
	position: absolute;
	bottom: 0;
	left: 0;
	
}


.footerSocial{
	padding-top: 40px;
}



.footerCopyright{
	
	font-weight: 400;
	font-size: 14px;
	line-height: 26px;
}

.mainFooter a{
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-decoration: none;
	color: #000;
	cursor: pointer;
}

.footerSocial{
	display: flex;
	justify-content: space-around;
	padding: 0;
	margin-top: 40px;
	margin-bottom: 45px;
	margin-left: 26.5%;
	margin-right: 26.5%;
	
}

.footerSocial .socialBtn{
	font-size: 0;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;

}

.footerCopyright .CopyrightBtn{
	padding-left: 50px;
	font-size: 0;
	line-height: 0;
	cursor: pointer;
	position: relative;
}

.CopyrightBtn::before{
	content: "";
	width: 35px;
	height: 35px;
	background-color: rgba(0,255,255,.7);
	position: absolute;
	left: 7px;
	top: 0;
	margin-top: -25px;
	}



@media (min-width: 768px){
html,
body{
	min-width: 768px;
	max-width: 1200px;
	margin: 0 auto;
	height: 100%;
	

}


.wrongAction{
	animation: shake 0.6s; 
}


/*
.mainNavigation a:hover{
	background-color: rgba(0,0,255,0.7);
}

.mainNavigation ul{
	font-size: 0;
	line-height: 0;

}

.mainNavigation li{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	width: 20%;
}

.intro{
	background: #3a6487 ;
	background: url("../img/whiteMobile320Up.svg") bottom,
	url("../img/photo-background@2x.jpg") 50% 100% no-repeat;
	 background-size: cover;
	
}

.indexLogo{
	width: 458px;
	height: 352px;
	margin: 0 auto;
	padding-top: 80px;
	padding-bottom: 80px;
}


.mainInfo h1{
	margin: 0;
	padding: 0;
	padding-top: 60px;
	padding-bottom: 32px;
	font-size: 21px;
	line-height: 26px;
	text-align: center;
	l
}

.mainInfo p{
	text-align: center;
	padding-bottom: 50px;
}


.reasons{
	font-size: 0;
	line-height: 0;
}
.reason{
	font-size: 14px;
	line-height: 21px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
	width: 400px;
	min-height: 256px;
	background-color: #eeeeee;
	
}

.reason h2{
	padding-top: 47px;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;

}



.bigReason figure{
	margin: 0;
	display: inline-block;
	vertical-align: top;
}







.map{
	margin: 0;
	padding: 0;
	border:0;
	display: block;
	background: #c9ddaa url("../img/bgMap.jpg") bottom;
	width: 100%;
	height: 590px;
	font-size: 0;
	line-height: 0;
}




.mainFooter{
	font-size: 21px;
	line-height: 26px;
	width: 100%;
	height: 120px;
	background: rgba(253,253,253,0.9);
	position: absolute;
	bottom: 0;
	left: 0;
	
}



.mainFooter a{
	font-size: inherit;
	line-height: inherit;
}

.footerLink{
	float: left;
	width: 150px;
	
	background: rgba(0,255,0,0.3);

}

.footerSocial{
	float: left;
	width: 300px;
	background: rgba(0,255,0,0.3);

}

.footerCopyright{
	width: 550px;
	float: right;
	background: rgba(0,255,0,0.3);

}

}*/


@keyframes shake{
	0%, 100% {transform: translateX(0px);}
	10%,30%,50%,70%,90% {transform: translateX(5px);}
	20%,40%,60%,80% {transform: translateX(-5px);}
	
}


